<%if @modules.empty?%>
	<div class="alert alert-warning">Este plano não possui módulos</div>
<%else%>
	<ul class="listOptions listagemMeiosPagtos">
	<%@modules.each do |modules|%>
		<%active = modules.status ? "pagtoAtivo" : ""%>
	    <li class="<%=active%>">
	        <h6><%=modules.name%></h6>
	        <span class="actLnk fright">
	            <%if modules.status%>
	            	<a href="#inactive_<%=modules.id%>" role="button" class="lnkSeta" data-toggle="modal">Inativar</a>
	    			<%=render :partial => '/layouts/message_inactive', :locals =>{:controller => 'module_extensions', :action_name => 'inactive', :id_value => modules.id}%>
	            <%else%>
	        		<a href="#active_<%=modules.id%>" role="button" class="lnkSeta" data-toggle="modal">Ativar</a>
	    			<%=render :partial => '/layouts/message_active', :locals =>{:controller => 'module_extensions', :action_name => 'active', :id_value => modules.id}%>
	        	<%end%>
	        	<%=link_to 'Configuracoes', {:controller => 'module_extensions', :action => 'set_config', :id => modules.id}, :class => "lnkSeta"%>
	        </span>
	        <p class="pObs"><strong>Descrição:</strong> <%=modules.description%></p>
	    </li>
	      
	<%end%>
	</ul>
<%end%>
