<div class="sideBySide">
	<%= f.input :country, :input_html=>{:required => true}%>
	<%= f.input :state, :input_html=>{:required => true}%>
</div>
<div class="sideBySide">
	<%= f.input :postal_code, :input_html=>{:required => true}%>
	<%= f.input :city, :input_html=>{:required => true}%>
</div>
<div class="sideBySide">
	<%= f.input :neighborhood, :input_html=>{:required => true}%>
	<%= f.input :street, :input_html=>{:required => true}%>
</div>
<div class="sideBySide">
	<%= f.input :number, :input_html=>{:required => true}%>
	<%= f.input :complement%>
</div>
<div class="form-actions">
   <button type="button" class="btn prox" prev="tab1">Voltar</button>
   <button type="button" class="btn btn-primary ico-right-open-2 icoPosRight btn-large prox" next="tab3"  current="tab2">Avançar</button>
</div>