<div class="sideBySide">
	<%= f.input :country, :input_html=>{:required => true}%>
	<%= f.input :state, :input_html=>{:required => true}%>
</div>
<div class="sideBySide">
	<%= f.input :postal_code, :input_html=>{:required => true}%>
	<%= f.input :city, :input_html=>{:required => true}%>
</div>
<div class="sideBySide">
	<%= f.input :neighborhood, :input_html=>{:required => true}%>
	<%= f.input :street, :input_html=>{:required => true}%>
</div>
<div class="sideBySide">
	<%= f.input :number, :input_html=>{:required => true}%>
	<%= f.input :complement%>
</div>
