<div>
	<div class="collapseGroup">
	    <div class="details">
	        <summary data-target="#dadosGerais" data-toggle="collapse" class="collapsed"><span>01.</span> Dados Gerais</summary>
	        <div class="collapse" id="dadosGerais">
	            <p>
	            	<table class="tableList">
	            		<thead>
	            			<tr>
	            				<th>Propriedade</th>
	            				<th>Valor</th>
	            			</tr>
	            		</thead>
	            		<tbody>	
	            			<tr>
		            			<td width="200px">Name</td>
	  							<td width="300px"><%= @owner.name %></td>
  							</tr>
  							<tr>
		            			<td width="200px">Document</td>
	  							<td><%= @owner.document %></td>
  							</tr>
  							<tr>
		            			<td width="200px">E-mail</td>
	  							<td><%= @owner.email %></td>
  							</tr>
  							<% @owner.owner_contacts.each do |contact|%>
		  						
		  						<tr>
		            				<td width="200px">Tipo Contato</td>
	  								<%if contact.contact_value=='W'%>
		  								<td>Comercial</td>
		  							<%elsif contact.contact_value=='M'%>
		  								<td>Celular</td>
			  						<%else%>
			  							<td>Residencial</td>
			  						<%end%>
  								</tr>
  								<tr>
		            				<td width="200px">Valor</td>
	  								<td><%= contact.contact_value %></td>
  								</tr>	
		  						
			            	<%end%>
  						</tbody>				
	            	</table>
	            </p>
	            
	        </div>
	    </div>
	
	    <div class="details">
	        <summary data-target="#dadosEndereco" data-toggle="collapse"><span>02.</span> Dados Endereço</summary>
	        <div class="collapse" id="dadosEndereco">
	            <p>
	            	<table class="tableList">
	            		<thead>
	            			<tr>
	            				<th>Propriedade</th>
	            				<th>Valor</th>
	            			</tr>
	            		</thead>
	            		<tbody>
	            			<tr>
	            				<td width="200px">País</td>
	            				<td width="300px"><%= @owner.owner_address.country %></td>
	            			</tr>
	            			<tr>
	            				<td width="200px">Estado</td>
	            				<td width="300px"><%= @owner.owner_address.state %></td>
	            			</tr>
	            			<tr>
	            				<td width="200px">CEP</td>
	            				<td width="300px"><%= @owner.owner_address.postal_code %></td>
	            			</tr>
	            			<tr>
	            				<td width="200px">Cidade</td>
	            				<td width="300px"><%= @owner.owner_address.city %></td>
	            			</tr>
	            			<tr>
	            				<td width="200px">Bairro</td>
	            				<td width="300px"><%= @owner.owner_address.neighborhood %></td>
	            			</tr>
	            			<tr>
	            				<td width="200px">Rua</td>
	            				<td width="300px"><%= @owner.owner_address.street %></td>
	            			</tr>
	            			<tr>
	            				<td width="200px">Número</td>
	            				<td width="300px"><%= @owner.owner_address.number %></td>
	            			</tr>
	            			<%unless @owner.owner_address.complement.blank?%>
		            			<tr>
		            				<td width="200px">Complemento</td>
		            				<td width="300px"><%= @owner.owner_address.complement %></td>
		            			</tr>
	            			<%end%>
	            		</tbody>
	            	</table>
	            	
	            </p>
	            
	        </div>
	    </div>
	</div>
</div>

<div class="form-actions">
	<%= link_to 'Voltar', admin_owners_path, :class => 'btn' %>
	<%= link_to 'Editar', edit_admin_owner_path(@owner), :class=>"btn btn-primary btn-large " %>	   
</div>


<script>
	jQuery(document).ready(function(){
		jQuery('div').removeClass('active')
	});
</script>
