<%=simple_form_for ([:admin, @user]) do |f| %>
	<%=f.input :email, :input_html =>{:required => true, :class => 'span6'}%>
	<%=f.input :password, :as => :password, :input_html =>{:required => true, :class => 'span6'}%>
	<%=f.input :password_confirmation, :as => :password, :input_html =>{:required => true, :class => 'span6'}%>
	<div class="form-actions">
	   <%= link_to 'Voltar', admin_users_path, :class => 'btn' %>
    	<%= f.submit 'Salvar', :class=>"btn btn-primary btn-large " %>
  </div>
<%end%>
