<div class="sideBySide">
	<%= f.input :name %>
	<%= f.input :document %>
</div>
<div class="sideBySide">
    <%= f.input :logo %>
    <%= f.input :showcase %>
</div>
<%=f.input :hour_service, :as => :text, :input_html => { :class => "span6", :rows => 5 }%>
<div class="sideBySide">
	<%= f.input :localization %>
	<%= f.input :social_contact %>
</div>
<div class="form-actions">
   <%= link_to 'Voltar', admin_settings_path, :class => 'btn' %>
   <button type="button" class="btn btn-primary ico-right-open-2 icoPosRight btn-large prox" next="tab2" current="tab1">Avançar</button>
</div>
